<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cafetería Universitaria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Cafetería Universitaria</h1> <!--[cite: 12] -->
        <p>Bienvenido al sistema web de pedidos.</p>
        
        <div class="nav-buttons">
            <a href="/productos" class="btn">Ver Productos</a>
            <a href="/pedidos" class="btn">Ver Pedidos</a>
        </div>
    </div>
</body>
</html>