<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pedidos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Listado de Pedidos</h2>
        <table>
            <thead>
                <tr>
                    <th>ID pedido</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for ped in pedidos %}
                <tr>
                    <td>{{ ped.id_pedido }}</td>
                    <td>{{ ped.cliente }}</td>
                    <td>{{ ped.fecha }}</td>
                    <td>{{ ped.estado }}</td>
                    <td>${{ "%.2f"|format(ped.total) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a href="/" class="btn-secondary">Volver al Inicio</a>
    </div>
</body>
</html>